* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 2%, 18%);
}

header {
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

h2 {
    margin-top: 20px;
}

em {
    background-color: #dfe2ee;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.filter-widgets {
    padding-right: 15px;
}

.ais-Hits-list{
    display: flex;
    flex-wrap: wrap;
}

.ais-Hits-item{
    width: 100%;
    flex: 45%;

    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.hit_item{
    position: relative;
    padding-bottom: 55px;
}

/* .hit_content {
    height: 30px;
} */

.hit_description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hit_thumbnail {
    float: left;
    width: 95px;
    height: 95px;
    margin-right: 10px;
}

.hit_url {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.hit_author {
    color: black;
    font-size: 16px;
}

.hit_credentials{
    position: absolute;
    bottom: 0;
}

.ais-Pagination-list {
    display: flex;
    justify-content: center;
}

.searchbox {
    margin-right: 10px;
}

.ais-Pagination-item--selected {
    background-color: #dfe2ee;
}